<!DOCTYPE html>
<html  >
{% include 'header.html' %}

</br>
</br>
</br>
</br>
</br>
<center>
<div class='item-title mbr-fonts-style display-7 align-items-center'>
<h1><strong>Thank you</strong></h1>
<h2><em><i class="bi bi-mailbox"></i> check your email <i class="bi bi-mailbox"></i></em></h2>
</br>
Check your email to login to your account.
</br>
</br>
</br>
<button type=submit class="btn btn-primary display-4" id="toggle" onclick="window.location.replace('https://mail.google.com')"><i class="bi bi-google"></i>&nbsp;<strong>Open gmail</strong></button>
</br>
</div>
</center>
</html>