<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<center>
  <title>🦁 Nala</title>
</head>
<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div id='description'><h4><em>Start by clicking the <strong>grant mic access</strong> button</em></h4></div>
        <hr></hr>
        <div class="d-flex flex-column align-items-center mt-4">
          <button id="recordBtn" class="btn btn-danger-outline" onclick="chBackcolor('lightgray');"><i class="bi bi-mic"></i> Grant mic access</button>
          <button id="stopBtn" class="btn btn-black-outline" disabled><i class="bi bi-stop-circle"></i> Stop</button> 
          <button id="playBtn" class="btn btn-black-outline" disabled><i class="bi bi-play-circle"></i> Play</button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div id="waveform"></div>
      </div>
    </div>
  </div>

  <audio id="audioPlayer"></audio>

<script>
var audioContext;
var mediaRecorder;
var chunks = [];
var audioBlob;
var waveform;
let silenceTimeout;
let recognition;

// Initialize the audio context
function initAudioContext() {
  if (typeof AudioContext !== 'undefined') {
    audioContext = new AudioContext();
  } else if (typeof webkitAudioContext !== 'undefined') {
    audioContext = new webkitAudioContext();
  } else {
    console.error('Web Audio API is not supported in this browser.');
  }
}

// Start recording
function startRecording() {
  navigator.mediaDevices.getUserMedia({ audio: true })
    .then(function(stream) {
      mediaRecorder = new MediaRecorder(stream);
      chunks = [];

      mediaRecorder.addEventListener('dataavailable', function(e) {
        chunks.push(e.data);
      });

      mediaRecorder.start();

      // stop after inactivity
      startRecognition();

      recordBtn.disabled = true;
      playBtn.disabled = true;
      stopBtn.disabled = false;
    })
    .catch(function(err) {
      console.error('Error accessing microphone: ', err);
    });
}

// Stop recording
function stopRecording() {
  chBackcolor('lightgray');
  mediaRecorder.stop();

  mediaRecorder.addEventListener('stop', function() {
    audioBlob = new Blob(chunks, { type: mediaRecorder.mimeType });

    recordBtn.disabled = false;
    stopBtn.disabled = true;
    playBtn.disabled = false;

    createWaveform();
    // continue streaming back-to-back
    recordBtn.click();
  });
}

// Play recorded audio
async function playAudio() {
  // var audioElement = document.getElementById('audioPlayer');
  // audioElement.src = URL.createObjectURL(audioBlob);
  // audioElement.play();
  document.getElementById("waveform").innerHTML = "";
  var waveformElement = document.getElementById('waveform');
  waveform = WaveSurfer.create({
    container: waveformElement,
    waveColor: 'violet',
    progressColor: 'purple',
    barHeight: 3,
    height: 200,
    responsive: true
  });
  sendAudioRequestWithJWT(audioBlob);
}

// Create waveform using Wavesurfer.js
function createWaveform() {
  playAudio();
}

// Wakeword detection
function detectWakeword() {
  document.getElementById('description').innerHTML = "<em><h4>now say <strong>hey nala</strong> to query</h4></em>"
  document.getElementById('recordBtn').style.display = "none";
  var recognition = new webkitSpeechRecognition();
  recognition.continuous = true;
  recognition.lang = 'en-US';

  recognition.onresult = function(event) {
    for (var i = event.resultIndex; i < event.results.length; ++i) {
      if (event.results[i].isFinal) {
        var transcript = event.results[i][0].transcript.toLowerCase();
        if (transcript.includes('nala')) {
          playChime();
          recognition.stop();
          break;
        }
      }
    }
  };

  recognition.start();
}

// Initialize audio context and event listeners
document.addEventListener('DOMContentLoaded', function() {
  initAudioContext();

  var recordBtn = document.getElementById('recordBtn');
  var stopBtn = document.getElementById('stopBtn');
  var playBtn = document.getElementById('playBtn');

  recordBtn.addEventListener('click', detectWakeword);
  stopBtn.addEventListener('click', stopRecording);
  playBtn.addEventListener('click', playAudio);
});

function startSilenceTimeout() {
  const silenceDuration = 3000; // Adjust this value as needed (in milliseconds)

  silenceTimeout = setTimeout(() => {
    if (mediaRecorder && mediaRecorder.state === 'recording') {
      // Disable/enable buttons
      stopRecording();
      console.log('Recording stopped due to inactivity.');
    }
  }, silenceDuration);
}


// Start speech recognition
function startRecognition() {
  recognition = new webkitSpeechRecognition();
  recognition.continuous = true;

  // Speech recognition event handlers
  recognition.onresult = (event) => {
    const result = event.results[event.results.length - 1];
    const transcript = result[0].transcript.trim();

    if (transcript !== '') {
      clearTimeout(silenceTimeout); // Reset silence detection timeout
      startSilenceTimeout(); // Restart silence detection
    }
  };

  recognition.onend = () => {
    if (mediaRecorder && mediaRecorder.state === 'recording') {
      stopRecognition();
      stopRecording();
      console.log('Recording stopped due to speech recognition end.');
    }
  };

  recognition.start();
}

// Stop speech recognition
function stopRecognition() {
  if (recognition) {
    recognition.stop();
    recognition = null;
  }
}

function chBackcolor(color) {
   document.body.style.background = color;
};

var sound = new Howl({
  src: ['/static/sounds/chime.wav'],
  onplay: function() {
    document.getElementById('description').innerHTML = "<em><h4>Hello! How can I help you?</h4></em>"
    chBackcolor('#ffc2e5');

  },
  onend: function() {
    document.getElementById('description').innerHTML = "<em><h4>now make a query like <strong>make a song</strong></h4> and then press the stop button (or be quiet for 3 seconds) to end the query.</em>"
    chBackcolor('lightblue');
    startRecording();
  }
});

function playChime() {
    sound.play();
};

// Function to send an HTTP POST request with JWT authorization
function sendAudioRequestWithJWT(audioBlob) {
  // Create a new FormData object
  const formData = new FormData();

  // Append your audio file to the FormData object
  formData.append('file', audioBlob);

  // Prepare the headers with the JWT token
  const headers = new Headers();
  headers.append('Authorization', 'Bearer ' + "{{request.session.get('access_token')}}");

  // Send the POST request to your server with the JWT token
  fetch('/api/session/query/create', {
    method: 'POST',
    headers: headers,
    body: formData
  })
  .then(response => response.blob()) // Convert the response to a Blob
  .then(blob => {
    // Use the blob as needed, for example, create an audio element and play it
    // const audioElement = new Audio(URL.createObjectURL(blob));
    waveform.loadBlob(blob);
    waveform.on('ready', function () {
      waveform.play();
    });
    detectWakeword();
    // waveform.on('finish', function () {
    //   location.reload();
    // });
  })
  .catch(error => {
    console.error('Error:', error);
  });
}

function browserDetect(){    
  let userAgent = navigator.userAgent;
  let browserName;

  if(userAgent.match(/chrome|chromium|crios/i)){
     browserName = "chrome";
   } else if(userAgent.match(/firefox|fxios/i)){
     browserName = "firefox";
   } else if(userAgent.match(/safari/i)){
     browserName = "safari";
   }else if(userAgent.match(/opr\//i)){
     browserName = "opera";
   } else if(userAgent.match(/edg/i)){
     browserName = "edge";
   } else{
     browserName="No browser detection";
   }
  
  if(browserName != 'chrome') {
    Swal.fire({icon: "error",
                  title: "Chrome browser required.",
                  text:  "You are using "+ browserName +" browser. This application only works with chrome-based browsers. Please login on a chrome browser to continue.",
                  confirmButtonColor: '#2d80f9',
                  confirmButtonText: 'close'}).then(function() {window.location = "/";});

  };
};

browserDetect();
</script>
</center>
</body>
</html>
