<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/assets/css/bootstrap-icons/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./static/assets/css/bootstrap.min.css">
  <script src="./static/assets/js/jquery-3.3.1.slim.min.js"></script>
  <script src="./static/assets/js/popper.min.js"></script>
  <script src="./static/assets/js/bootstrap.js"></script>
  <script src="./static/assets/js/wavesurfer.js"></script>
  <script src="./static/assets/js/howler.js"></script>
  <script src="./static/assets/js/howler.min.js"></script>
  <script src="./static/assets/js/sweetalert2.js"></script>
  <style>
    #waveform {
      height: 200px;
    }
  </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
{% if request.session.get('access_token') %}
<a class="navbar-brand" href="/bark?access_token={{request.session.get('access_token')}}&refresh_token={{request.session.get('refresh_token')}}">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-emoji-laughing"></i> {{request.session.get('settings')['website_name']}}</a>
{% else %}
<a class="navbar-brand" href="/">&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-emoji-laughing"></i> {{request.session.get('settings')['website_name']}}</a>
{% endif %}
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
<!--       <li class="nav-item">
        <a class="nav-link" href="/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/commands">Commands</a>
      </li> -->
      {% if request.session.get('access_token') %}
      <li class="nav-item">
        <a class="nav-link" href="/profile">My profile</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/docs" target="_blank">API docs</a>
      </li>
      {% if request.session.get('access_token') %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0TRD1EVX9Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0TRD1EVX9Y');
</script>
</head>