<!DOCTYPE html>
<html  >
{% include 'header.html' %}

</br>
</br>
</br>
</br>
</br>
<center>
<div id='loginform' class='item-title mbr-fonts-style display-7 align-items-center'>
<h1><strong>Log in</strong></h1>
</br>
</br>
Please use the form below to log into your account.
</br>
</br>
</br>
<center>

<label for="email" class="col-sm-2 col-form-label"><strong>Email address</strong></label>
<div class="col-sm-3">
	<input type="email" class="form-control" id="email">
</div>
</br> 
<label for="password" class="col-sm-2 col-form-label"><strong>Password</strong></label>
<div class="col-sm-3">
  <input type="password" class="form-control" id="password">
</div>

</center>
</br>
</br>
<button type=submit class="btn btn-primary display-4" id="toggle" onclick="loginUser()"><strong>Log in</strong></button>
</br>
</br>
Forgot password? <a href='/reset'>reset it here.</a>
</br>
</br>
</div>
</center>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<script>
// login function

function loginUser() {
  const formData = new FormData();
  formData.append('username', document.getElementById('email').value);
  formData.append('password', document.getElementById('password').value);

  fetch('/api/user/login', {
    method: 'POST',
    body: formData
  })
  .then(response => {
    if (response.ok) {
      return response.json();
    } else {
      throw new Error('Login failed');
    }
  })
  .then(data => {
    console.log(data.message); // Display success message
    // Perform further actions after successful login
    window.location.replace("/bark?access_token="+data.access_token+"&email="+data.sub+"&refresh_token="+data.refresh_token)
  })
  .catch(error => {
    console.error(error.message); // Display error message
    // Perform actions for failed login
  });
}

// redirect to home page
</script>
{% include 'footer.html' %}
</html>